header {
  font-family: Helvetica, Arial;
  font-size: 16px; }
  header ul {
    list-style: none; }
    header ul li {
      color: #1414EE; }
    header ul:first-child {
      padding-left: 0; }
    header ul.__hola {
      padding-left: 100px; }
    header ul > span {
      font-family: 'Lato'; }
