#barranavegadora 
{
    background-color: orange;
    height: 40px;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    margin:0px;
    padding: 0px;
}
.botonnavegador
{
    padding-right: 20px;
    padding-top: 11px;
    padding-left: 20px;
    font-weight: bold;
    display: inline-block;
}
.botonnavegador:first-child
{
    padding-left:8px;
}
a
{
    text-decoration: none;
    color:white;
}
.botonnavegador:last-child
{
    padding-right: 0px;
}
body
{
    font-family: sans-serif;
    font-size: 16px;
    margin-top:40px;
    background-color:rgba(255, 162, 0, 0.66);
    color: white;
}
input
{
    clear:right;
}
ul
{
    list-style: none;
}
#tituloformulario
{
    margin-left: 40px;
    margin-top: 60px;
    font-weight: bold;
}
footer
{
    font-size: 12px;
}